* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../../images/authbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Manrope", sans-serif;
}

.frame-parent {
    float: right;
    margin: 120px 157px 30px 0px;
    width: 577px;
    height: 528.79px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 44px;
    background-color: #f5f6fe;
    border-radius: 49.62px;
}

.get-started-with {
    font-weight: bold;
    font-size: 44.71px;
    line-height: 150%;
    color: #000000;
}

.instructions {
    margin-left: 15px;
}

.instruction-text {
    font-weight: normal;
    font-size: 19.83px;
    line-height: 150%;
    color: #000000;
}

.email {
    font-style: normal;
    font-size: 29.16px;
    line-height: 150%;
    color: #000000;
    font-weight: bold;
}

.input-wrapper .input1 {
    font-weight: bold;
    font-size: 24.5px;
    line-height: 150%;
    color: #414141;
    width: 545.89px;
    height: 59.88px;
    border-radius: 25.66px;
    padding-left: 12px;
}

.forgot-wrapper {
    height: 85.15px;
    width: 327.65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 21px;
    background-color: #00160a;
}

.forgot-wrapper .forgot2 {
    font-size: 34.99px;
    font-weight: bold;
    color: #ffffff;
}
