* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

body {
    background-image: url("../../images/authbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Manrope", sans-serif;
}

.frame-parent {
    float: right;
    margin: 95px 157px 30px 0px;
    width: 519.4px;
    height: 539px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 31px;
    background-color: #f5f6fe;
    border-radius: 44.66px;
}

.get-started-button .get-started-with {
    font-weight: bold;
    font-size: 40.25px;
    line-height: 150%;
    color: #000000;
}

.password-parent .password {
    font-size: 26.25px;
    line-height: 150%;
    color: #000000;
}

.input-container .input {
    width: 491.4px;
    height: 54px;
    border-radius: 23.1px;
    color: #ffffff;
    padding-left: 12px;
    font-size: 22.05px;
    color: #414141;
}

.reset-password-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 307.65px;
    height: 76.65px;
    background-color: #00160a;
    border-radius: 18.9px;
}

.reset-password-wrapper .reset2 {
    font-size: 31.5px;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
}

.get-started-button {
    margin-bottom: 24px;
}
